<style>.toolbar-background{background:none}</style>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!---ion-title>{{ folder }}</ion-title--->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!---ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header-->


<section class="text-center hero-section">
	<a href="#" class="absolute-content"><img class="logo" src="../assets/images/logo.svg"></a>
	<img src="../assets/images/home-first-section-bg.jpg">
</section>
<section class="text-center hero-section">
	<a href="#" class="absolute-content"><span>DIGITAL RESOURCES</span></a>
	<img src="../assets/images/digital-resources.jpg">
</section>
<section class="text-center hero-section">
	<a href="#" class="absolute-content"><span>READ THE BLOG</span></a>
	<img src="../assets/images/blog-bg.jpg">
</section>
<section class="text-center hero-section">
	<a href="#" class="absolute-content"><span>CHOOSE NOTIFICATIONS</span></a>
	<img src="../assets/images/notifications-bg.jpg">
</section>
  
  
</ion-content>
