<style>.internal-header .toolbar-container{padding-top:15px !important;padding-bottom:15px !important}</style>
<!-- Back button with a default href -->
<ion-header  class="internal-header ion-align-items-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
	  
    </ion-buttons>
	    <ion-title><img class="logo" src="../assets/images/logo.svg"></ion-title>
		  <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="light">
    

<section  class="text-center internal-hero ion-align-items-center" style='background:url(../assets/images/contact-us-banner.jpg)'>
    <h3 class="span-underline internal-hero-title"><span>Speaking Request
</span></h3>
  </section>
  

    <div class="px-1 py-1">
        
      <h5>SPEAKING REQUEST FOR PASTOR CRAIG</h5>  
      <p>Thank you for your interest in Pastor Craig’s availability at your upcoming event. It is a privilege that you would allow Craig to serve alongside you in the ministry of encouraging others towards following Jesus’ call to make disciples.

Due to his desire to lead his family and First Colleyville well, Craig is not able to accept all of the invitations he receives. Each request will be evaluated to make sure that his obligations to family and church come first. A few parameters our team has developed to aid in protecting Craig’s role as Lead Pastor of First Colleyville are:</p>

<ul class="custom-list">
<li>In order to protect his time and obligations at First Colleyville, Craig seldom speaks on Sundays.</li>
<li>In order to maximize his time away from home and the church, Craig prioritizes events that fit within discipleFIRST’s process of Forums and Cohorts.</li>
<li>If the event requires multiple days we would love to explore as many opportunities for Craig to encourage as many leaders as possible while he is traveling.</li>
<li>It is the position of the leaders of discipleFIRST that Craig will not travel alone. So, either his wife, Liz, or a member of the discipleFIRST team will accompany him.</li>
<li>For all speaking engagements discipleFIRST requires that Craig’s Travel &amp; Incidental expenses (also Liz’s if she accompanies him) be reimbursed.</li>
<li>Honorariums for each event would be determined by the invitee. However, other costs may be required for printed items and other expenses, but these would be clearly communicated by discipleFIRST before the event.</li>
</ul>
        
    <p><strong>If you would like to submit a request, please complete the form below. It will be reviewed by the discipleFIRST team, and we will contact you as soon as a decision is made. Thank you!</strong></p>   
        
        
     <!---p class="text-center">Please send us a message using the form below and our staff will contact you shortly. Thank you!</p-->    

    <iframe class="ccb-form grow-cohort-form" src="https://disciplefirst.ccbchurch.com/goto/forms/46/responses/new" style="height:600px;width:100%"></iframe>
    
     </div>

</ion-content>
