@font-face {
   font-family: 'Abel Pro';
   src: url('./assets/fonts/abelpro-regular.otf');
   font-weight: 400;
   font-style: normal;
 }
 
 @font-face {
   font-family: 'Abel Pro Bold';
   src: url('./assets/fonts/abelpro-bold.otf');
   font-weight: bold;
   font-style: normal;
 }
 
 @font-face {
   font-family: 'Nunito Sans';
   src: url('./assets/fonts/NunitoSans-Light.ttf');
   font-weight: 300;
   font-style: normal;
 }